/*---contact----*/
.contact {
    padding: 10px 0px 35px 0px;
    border-bottom: 1px ridge rgb(240, 240, 240);
}
.contact-form{
    width: 100%;
}
.contact-form p{
    font-size: 0.8em;
    margin-left:0;
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(155, 155, 155);
}
.contact-form input[type="text"]{
    width: 100%;
    border: none;
    padding: 5px;
    margin: 5px auto;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: rgb(155, 155, 155);
    box-shadow: 0.4px 0.4px 6px rgb(245, 202, 202);
}
.contact-form label{
    color: rgb(155, 155, 155);
    font-size: 0.8em;
    margin: 5px 7%;
}
.contact-form textarea{
    height:100px;
}
.contact-form input[type="submit"]{
    border:none;
    outline:none;
    padding:12px 15px;
    margin-top:20px;
    font-size: 0.8em;
    font-family: 'Merriweather Sans', sans-serif;
    background:lightblue;
    color:#fff;
    cursor:pointer;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-apprence:none;
}
.contact-form input[type="submit"]:hover{
    background: rgb(80, 80, 80);
}

