<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>易公益</title>

    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.png"/>
    <link rel="stylesheet" href="../static/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/article.css">
    <script src="../static/lib/jquery-3.2.1.min.js"></script>
    <script src="../static/lib/bootstrap.min.js"></script>



</head>
<body>
<nav>
    <a href="index.html"><img src="../static/img/branch.png"/></a>
</nav>


        <h2 class="h2 text-center" style="margin-top:20px;">新闻中心</h2>
        <div style="width:80%;margin:20px auto;">
        <table>
            <tr><td><a href="news.html">成都市政府与我校签署共建世界一流能源大学战略...</a></td><td>2018-03-04</td></tr>
            <tr><td><a href="news.html">成都市人民政府与西南石油大学在天府新城会议中心签署战略合作框架协议，深入推进全面创新改革，共建世界一流能源大学...</a></td><td>2018-03-04</td></tr>
            <tr><td><a href="news.html">【点赞】西南石油大学在“全国高校教师教学竞赛状态数...</a></td><td>2018-03-04</td></tr>
            <tr><td><a href="news.html">西南石油大学60周年校庆公告（第二号）</a></td><td>2018-03-04</td></tr>
            <tr><td><a href="news.html">【招生专题】西南石油大学赴各地招生现场咨询活动日程安排</a></td><td>2018-03-04</td></tr>
            <tr><td><a href="news.html">06/08我省大学生网球比赛中勇夺双冠</a></td><td>2018-03-04</td></tr>
            <tr><td><a href="news.html">06/08省委保密办、省教育厅高校保密督察组来校检查保密工作</a></td><td>2018-03-04</td></tr>
            <tr><td><a href="news.html">06/08学校举行纪检监察干部学习培训会</a></td><td>2018-03-04</td></tr>
            <tr><td><a href="news.html">06/07“远离毒品 青春无悔——巡回庭审进高校”活动在我校举行</a></td><td>2018-03-04</td></tr>
            <tr><td><a href="news.html">06/07学校举行2017年度“课堂教学质量奖”评选暨教学观摩评...</a></td><td>2018-03-04</td></tr>
        </table>
        </div>
        <div class="my-row" id="pagi-father">
            <div id="pagination">
                <a id="firstPage">首页</a>
                <a id="prePage">上一页</a>
                <a class="current">1</a>
                ...
                <a>5</a>
                <a>6</a>
                <a>7</a>
                <a>8</a>
                <a>9</a>
                <a id="nextPage">下一页</a>
                <a id="lastPage">尾页</a>
                <span class="totalPages">
            共<span>5</span>页
        </span>
                <span class="totalSize">
            共<span>90</span>条记录
        </span>
            </div>
        </div>
        <div class="clear"> </div>

</body>
</html>