
<!DOCTYPE HTML>
<html>
 <head>
	 <meta name="keywords" content="易公益" charset="utf-8"/>
	 <title>易公益</title>
	 <link href="lib/bootstrap.min.css" rel="stylesheet"/>
	 <link href="css/contact.css" rel="stylesheet"/>
	 <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />

	 <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'>
 </head>
	<body>
	<nav>
		<a href="index.html"><img src="img/branch.png"/></a>
	</nav>
		<!---start-wrap---->
		<div class="wrap">
			<!----start-content----->
			<div class="content">
				<div class="contact">
					<div class="contact-form">
						<h3>在线报名</h3>
						<form id="contactForm" name="contactForm">
							<input type="hidden" id="activityName" name="activityName">
							<p>学号</p>
							<input type="text" id="stuId" name="stuId">
							<p>姓名</p>
							<input type="text" id="stuName" name="stuName">
							<p>学院</p>
							<input type="text" id="school" name="school">
							<p>专业</p>
							<input type="text" id="major" name="major">
							<p>年级</p>
							<label>
								<input type="radio" name="grade"  value="大一">大一
							</label>
							<label>
								<input type="radio" name="grade" value="大二"> 大二
							</label>
							<label>
								<input type="radio" name="grade" value="大三"> 大三
							</label>
							<label>
								<input type="radio" name="grade" value="大四"> 大四
							</label>
							<p>电话</p>
							<input type="text" id="telephoneNumber" name="telephoneNumber"><br/>

							<input type="submit" value="Send" id="contactBtn">
						</form>
					</div>
					<div class="clear"> </div>
				</div>
					<div class="footer">
						<p>易公益 &#169	 All Rights Reserved | Designed By <a href="#">杨玉卿</a></p>
					</div>
					<div class="clear"> </div>
					
			</div>

			<!---end-sidebar---->
		</div>
		<!---end-wrap---->
	<script src="js/contact.js"></script>
	</body>
</html>

