<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>易公益</title>

    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.png"/>
    <link rel="stylesheet" href="../static/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/lib/jquery-3.2.1.min.js"></script>
    <script src="../static/lib/bootstrap.min.js"></script>



</head>
<body>
<nav>
    <a href="index.html"><img src="../static/img/branch.png"/></a>

    <div class="user pull-right">
    <div class="btn-group">
        <button type="button" class="btn btn-danger ">使用者</button>
        <button type="button" class="btn btn-danger  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>

        <ul class="dropdown-menu text-left">
            <li><a href="volunteer.html">志愿者</a></li>
            <li><a href="publisher.html">发布活动者</a></li>
            <li><a href="manager.html">管理员</a></li>

        </ul>
    </div>
        <button class="btn btn-danger logout">注销</button>
    </div>

</nav>
<!---start-wrap---->
<div class="wrap">

    <!---start-sidebar---->
    <div class="left-sidebar">
        <div class="logo">
            <a href="index.html"><img src="../static/img/logo.png" title="logo" /></a>
        </div>
        <div class="top-nav">
            <ul>
                <li><a href="javascript:void(0);">全部活动</a></li>
                <li id="op1"><a href="javascript:void(0);">社区服务</a></li>
                <li id="op2"><a href="javascript:void(0);">主题宣传</a></li>
                <li id="op3"><a href="javascript:void(0);">爱心募捐</a></li>
                <li id="op4"><a href="javascript:void(0);">环境保护</a></li>
                <li id="op5"><a href="javascript:void(0);">弱势群体</a></li>
                <li id="op6"><a href="javascript:void(0);">爱心探访</a></li>
            </ul>
        </div>
    </div>
    <!---end-sidebar---->
    <!----start-content----->
    <div class="content">
        <div class="grids">
            <div class="clear"> </div>
        </div>
        <div class="clear"> </div>
        <div class="content-pagenation">
            <li><a href="#">Frist</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><span>....</span></a></li>
            <li><a href="#">Last</a></li>
            <div class="clear"> </div>
        </div>
        <div class="clear"> </div>
    </div>
    <!----end-content----->
    <!---start-sidebar---->
    <div class="right-sidebar">
        <div class="search-bar">
            <form>
                <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" />
                <input type="submit" value="" />
            </form>
        </div>
        <div class="clear"> </div>
        <div class="popular-post">
            <h3>新闻速递</h3>
            <div class="post-grid">
                <img src="../static/img/pic5.jpg" title="post1">
                <p>Lorem ipsum dolor sit ametconsectetur dolor,<a href="#">...</a></p>
                <div class="clear"> </div>
            </div>
            <div class="post-grid">
                <img src="../static/img/pic6.jpg" title="post1">
                <p>Lorem ipsum dolor sit ametconsectetur dolor,<a href="#">...</a></p>
                <div class="clear"> </div>
            </div>
            <div class="view-all">
                <a href="#">ViewAll</a>
            </div>
        </div>
        <div class="clear"> </div>
        <div class="featured-Videos">
            <h3>活动推荐</h3>
            <a href="#"><img src="../static/img/pic7.jpg" title="videos" /></a>
        </div>
        <div class="popular-post">
            <h3>志愿者之声</h3>
            <ul>
                <li><a href="#">记植树节植树感想随记--</a></li>
                <li><a href="#">写在地球日的感想--</a></li>
                <li><a href="#">给空巢老人带去温暖，关爱老人，你我在行动</a></li>
                <li><a href="#">记植树节植树感想随记--</a></li>
                <li><a href="#">写在地球日的感想--</a></li>
                <li><a href="#">给空巢老人带去温暖，关爱老人，你我在行动</a></li>
            </ul>
        </div>
    </div>
    <!---end-sidebar---->
</div>
<!---end-wrap---->
<script src="../static/js/index.js"></script>
</body>
</html>