<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>易公益</title>

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png"/>
    <link rel="stylesheet" href="lib/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/contact.css">
    <script src="lib/jquery-3.2.1.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>



</head>
<body>
<nav>
    <a href="/"><img src="img/branch.png"/></a>

    <div class="user pull-right">
    <div class="btn-group">
        <!--<button type="button" class="btn btn-danger "><span th:text="${username}"></span></button>-->
        <button type="button" class="btn btn-danger  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span th:text="${username}"></span> <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>

        <ul class="dropdown-menu text-left">

            <li><a href="/volunteer">志愿者</a></li>
            <li th:if="${role} == 1"><a href="/publisher">发布活动者</a></li>
            <li th:if="${role} == 2"><a href="/publisher">发布活动者</a></li>
            <li th:if="${role} == 2"><a href="/manager">管理员</a></li>
        </ul>
    </div>
        <button class="btn btn-danger logout">注销</button>
    </div>

</nav>
<!---start-wrap---->
<div class="wrap">

    <!---start-sidebar---->
    <div class="left-sidebar">
        <div class="logo">
            <a href="/"><img src="img/logo.png" title="logo" /></a>
        </div>
        <div class="top-nav">
            <ul>
                <li><a href="javascript:void(0);" role="button">全部活动</a></li>
                <li id="op1"><a href="javascript:void(0);" role="button">社区服务</a></li>
                <li id="op2"><a href="javascript:void(0);" role="button">主题宣传</a></li>
                <li id="op3"><a href="javascript:void(0);" role="button">爱心募捐</a></li>
                <li id="op4"><a href="javascript:void(0);" role="button">环境保护</a></li>
                <li id="op5"><a href="javascript:void(0);" role="button">弱势群体</a></li>
                <li id="op6"><a href="javascript:void(0);" role="button">爱心探访</a></li>
            </ul>
        </div>
    </div>
    <!---end-sidebar---->
    <!----start-content----->
    <div class="content">
        <div class="grids">
            <form id="learnMore" action="/contact" method="post">
                <!--<div class="grid box">-->
                    <!--<div class="grid-header">-->
                        <!--<h3>obj['title']</h3>-->
                        <!--<ul>-->
                            <!--<li><span>obj['publisher']</span></li>-->
                            <!--<li><span>+ obj['publishDate'] + '</span></li>-->
                            <!--<li><span style="color:deeppink">' + '剩余' + obj['remain'] + '名额' + '</span></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="grid-img-content">-->
                        <!--<a href="singlepage.html"><img src="' + obj['img'] + '"/></a>-->
                        <!--<p>' + str + '</p>-->
                        <!--<div class="clear"></div>-->
                    <!--</div>-->
                    <!--<div class="comments">-->
                        <!--<ul>-->
                            <!--<li><a href="#" id="view" data-toggle="modal" data-target="#myModal"><img src="img/views.png" title="view" /></a></li>-->
                            <!--&lt;!&ndash;<li><a href="#" id="likes"><img src="img/likes.png" title="likes" /></a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="contact.html" id="link"><img src="img/link.png" title="link" /></a></li>&ndash;&gt;-->
                            <!--<li><label class="readmore" data-toggle="modal" data-target="#myModa2"><input type="radio" name="activityName" class="myHiddenRadio"/>立即报名</label></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            </form>

            <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
            <!--<div class="modal-dialog" role="document">-->
                <!--<div class="modal-content">-->
                    <!--<div class="modal-header">-->
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                        <!--<h4 class="modal-title" id="myModalLabel">活动提示</h4>-->
                        <!--</div>-->
                    <!--<div class="modal-body">-->
                        <!--<p>'活动名称：'+aaaaaaaaaaaaaa</p>-->
                        <!--<p>'活动时间：' + obj['activityDate'] +</p>-->
                        <!--<p>'活动地点：' + obj['place'] + </p>-->
                        <!--<p>'报名截止时间：' + obj['deadline'] +</p>-->
                        <!--<p>'人数限制：' + obj['personalLimit'] + </p>-->
                    <!--</div>-->
                    <!--<div class="modal-footer">-->
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="modal fade" id="myModals2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
                <!--<div class="modal-dialog" role="document">-->
                    <!--<div class="modal-content">-->
                        <!--<div class="modal-header">-->
                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                            <!--<h4 class="modal-title" id="myModalLabe2">报名资料</h4>-->
                        <!--</div>-->
                        <!--<div class="modal-body">-->
                            <!--<div class="contact">-->
                                <!--<div class="contact-form">-->
                                    <!--<form id="contactForm" name="contactForm">-->
                                        <!--<input type="hidden" id="activityName" name="activityName">-->
                                        <!--<p>学号</p>-->
                                        <!--<input type="text" id="stuId" name="stuId">-->
                                        <!--<p>姓名</p>-->
                                        <!--<input type="text" id="stuName" name="stuName">-->
                                        <!--<p>学院</p>-->
                                        <!--<input type="text" id="school" name="school">-->
                                        <!--<p>专业</p>-->
                                        <!--<input type="text" id="major" name="major">-->
                                        <!--<p>年级</p>-->
                                        <!--<label>-->
                                            <!--<input type="radio" name="grade"  value="大一">大一-->
                                        <!--</label>-->
                                        <!--<label>-->
                                            <!--<input type="radio" name="grade" value="大二"> 大二-->
                                        <!--</label>-->
                                        <!--<label>-->
                                            <!--<input type="radio" name="grade" value="大三"> 大三-->
                                        <!--</label>-->
                                        <!--<label>-->
                                            <!--<input type="radio" name="grade" value="大四"> 大四-->
                                        <!--</label>-->
                                        <!--<p>电话</p>-->
                                        <!--<input type="text" id="telephoneNumber" name="telephoneNumber"/><br/>-->

                                        <!--<input type="submit" value="提交" id="contactBtn" class="pull-right">-->
                                    <!--</form>-->
                                <!--</div>-->
                                <!--<div class="clear"> </div>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<script>-->
                <!--myHiddenRadio.css('visibility','hidden');-->
                <!--//点击learnMore提交-->
                <!--myHiddenRadio.click(function(){-->
                    <!--var thisRadio=$(this);-->
                    <!--thisRadio.attr('value','asd')-->
                <!--});-->
            <!--</script>-->
        </div>
        <div class="clear"> </div>
        <div class="my-row" id="pagi-father">
            <div id="pagination">
                <a id="firstPage">首页</a>
                <a id="prePage">上一页</a>
                <a class="current">1</a>
                ...
                <a>5</a>
                <a>6</a>
                <a>7</a>
                <a>8</a>
                <a>9</a>
                <a id="nextPage">下一页</a>
                <a id="lastPage">尾页</a>
                <span class="totalPages">
            共<span>5</span>页
        </span>
                <span class="totalSize">
            共<span>90</span>条记录
        </span>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
    <!----end-content----->
    <!---start-sidebar---->
    <div class="right-sidebar">
        <div class="search-bar">
            <form>
                <input type="text" value="Search" onfocus="this.value = '';" id="searchFor"/>
                <input type="submit" value="" id="searchBar"/>
            </form>
        </div>
        <div class="clear"> </div>
        <div class="popular-post">
            <h3>活动新闻</h3>
            <div class="post-grid">
                <img src="img/pic5.jpg" title="post1">
                <p><a href="http://www.swpu.edu.cn/lxy/info/2476/2623.htm">“绿色感恩”志愿林维护...</a></p>
                <div class="clear"> </div>
            </div>
            <div class="post-grid">
                <img src="img/pic6.jpg" title="post1">
                <p><a href="http://news.gsau.edu.cn/info/1034/35052.htm" id="showMe" style="width:100px;height:200px;overflow:scroll;">世界地球日科普竞赛活动圆满落幕...</a></p>
                <div class="clear"> </div>
            </div>
            <div class="view-all">
                <a href="colle-news.html">ViewAll</a>
            </div>
        </div>
        <script>
            $("#showMe").click(function(){
                $(this).html("");
            })
        </script>
        <div class="clear"> </div>
        <div class="featured-Videos">
            <h3>活动推荐</h3>
            <a><img src="img/pic7.jpg" title="videos" /></a>
        </div>
        <div class="popular-post">
            <h3>志愿者之声</h3>
            <ul>
                <li><a href="http://rj.5ykj.com/HTML/78932.htm">记植树节植树感想随记</a></li>
                <li><a href="https://www.ppzuowen.com/400zi/134877.html">写在地球日的感想</a></li>
                <li><a href="http://www.miyibicycle.com/page86?article_id=6">给空巢老人带去温暖,你我在行动</a></li>
                <li><a href="http://rj.5ykj.com/HTML/78932.htm">记植树节植树感想随记</a></li>
                <li><a href="http://sc.china.com.cn/index.php?m=wap&siteid=1&a=show_wap&catid=1103&id=288315">“欢行成都”公益宣传片线下拍摄活动</a></li>
                <li><a href="https://baijiahao.baidu.com/s?id=1612461785608705891&wfr=spider&for=pc">武胜义工志愿者开展“中秋慰问·送温暖 ”百人大团圆公益活动</a></li>
            </ul>
        </div>
    </div>
    <!---end-sidebar---->
</div>
<!---end-wrap---->
<script src="js/plugs_paging.js"></script>
<script src="js/index.js"></script>
</body>
</html>