<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>易公益</title>

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png"/>
    <link rel="stylesheet" href="lib/bootstrap.min.css">
    <link rel="stylesheet" href="css/article.css"/>
    <script src="lib/jquery-3.2.1.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
</head>
<body>
<nav>
    <a href="index.html"><img src="img/branch.png"/></a>
</nav>
<!---start-wrap---->
<div class="wrap">
    <!----start-content----->
    <div class="content">
        <div class="grids">
            <div class="grid box">
                <div class="grid-header text-center">

                    <h3>“绿色感恩”志愿林维护</h3>
                    <ul>
                        <li><span>2018/3/15</span></li>
                        <li><span>撰稿人：asd</span></li>
                    </ul>
                </div>
                <div class="grid-img-content">
                    <div class="main_body">
                        <div class="main_img text-center">
                            <img src="img/pic5.jpg"/>
                        </div>
                        <p class="paragraph">

                                为迎接第39个植树节，此次，我们将结合“学子感恩林”志愿服务平台，给大家提供亲手种树的机会哦。
                                在家过了舒舒服服的寒假之后，大家是不是在为自己肚子上的肉肉烦恼呢？别怕，这次活动也是一次好的减肉机会哦。此次，我们将采取分组形式，6人一组，每组负责种植一棵小树苗，并负责一定的区域，进行树木的维护，除草，松土，浇水等！！！
                                如果你有兴趣的话，快快的动起你们的手指报名吧。

                        </p>


                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="comments">
                    <ul class="text-center">

                    </ul>
                    <ul>
                        <li><a href="#"><img src="img/likes.png" title="likes" /></a></li>
                        <li><a class="readmore" href="contact.html">下一篇</a></li>
                    </ul>
                </div>
            </div>

            <div class="clear"> </div>
        </div>
        <div class="clear"> </div>
        <div class="footer">
            <p>易公益 &#169	 All Rights Reserved | Designed By 杨玉卿</p>
        </div>
        <div class="clear"> </div>

    </div>

</div>
<!---end-wrap---->
</body>
</html>

