<!DOCTYPE HTML>
<html>
<head>
	<title>易公益</title>
	<!--<link href="./css/style.css" rel="stylesheet" type="text/css"/>-->
	<link href="../static/css/info.css" rel="stylesheet" type="text/css"/>
	<link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon" />
	<meta name="keywords" content="易公益" charset="utf-8"/>
	<link href='http://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<nav>
	<a href="index.html"><img src="../static/img/branch.png"/></a>
</nav>
<!---start-wrap---->
<div class="wrap">
	<!----start-content----->
	<div class="content">
		<div class="grids">
			<div class="grid box">
				<div class="grid-header">
					<div class="singlepage1">
						<h3>“绿色感恩”志愿林维护</h3>
					</div>
					<ul>
						<li><span>主办单位：校青协 报名截止时间：2018/3/15</span></li>
						<li><a href="#">剩余5 名额</a></li>
					</ul>
				</div>
				<div class="grid-img-content">
					<div class="main_body">
						<div class="paragraph">
						<h4>活动简介:</h4>
						<div class="row">
						为迎接第39个植树节，此次，我们将结合“学子感恩林”志愿服务平台，给大家提供亲手种树的机会哦。
						在家过了舒舒服服的寒假之后，大家是不是在为自己肚子上的肉肉烦恼呢？别怕，这次活动也是一次好的减肉机会哦。此次，我们将采取分组形式，6人一组，每组负责种植一棵小树苗，并负责一定的区域，进行树木的维护，除草，松土，浇水等！！！
						如果你有兴趣的话，快快的动起你们的手指报名吧。
						</div>
						</div>
						<div class="paragraph">
						<h4>活动信息：</h4>
						<div class="row">
						【时间】：3月9日16:00-17:30。<br/>
						【地点】：志愿林。<br/>
						【报名截止时间】：3月8日晚上12:00。<br/>
						【人数限制】：15人<br/>
						</div>
						</div>


					</div>
					<div class="clear"> </div>
				</div>
				<div class="comments">
					<ul>
						<li><a href="#"><img src="../static/img/views.png" title="view" /></a></li>
						<li><a href="#"><img src="../static/img/likes.png" title="likes" /></a></li>
						<li><a class="readmore" href="contact.html">立即报名</a></li>
					</ul>
				</div>
			</div>

			<div class="clear"> </div>
		</div>
		<div class="clear"> </div>
		<div class="footer">
			<p>易公益 &#169	 All Rights Reserved | Designed By 杨玉卿</p>
		</div>
		<div class="clear"> </div>

	</div>

</div>
<!---end-wrap---->
</body>
</html>

