<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>易公益</title>

    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.png"/>
    <link rel="stylesheet" href="../static/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/publisher.css"/>
    <script src="../static/../static/lib/jquery-3.2.1.min.js"></script>
    <script src="../static/../static/lib/bootstrap.min.js"></script>



</head>
<body>
<nav>
    <a href="index.html"><img src="../static/img/branch.png"/></a>
</nav>
<!---start-wrap---->
<div class="wrap">

    <!---start-sidebar---->
    <div class="left-sidebar">
        <div class="logo">
            <a href="index.html"><img src="../static/img/logo.png" title="logo" /></a>
        </div>
        <div class="top-nav">
            <ul>
                <li><a href="index.html">主页</a></li>
                <li class="article"><a href="#" id="#article">投稿</a></li>
                <li class="record"><a href="#" id="#record">活动记录</a></li>
                <li class="apply"><a href="#" id="#apply">申请成为活动发布者</a></li>
                <li class="msg"><a href="#" id="#msg">我的消息</a></li>


            </ul>
        </div>
    </div>
    <!----start-content----->
    <div class="content">
        <div id="record">
            <p class="text-center">活动记录</p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>活动名称</th>
                    <th>活动时间</th>
                    <th>活动地点</th>
                    <th>活动类型</th>
                    <th>活动介绍</th>
                </tr>
                </thead>
                <tbody id="recordTable">

                </tbody>
            </table>
        </div>
        <div id="article"></div>
        <div id="apply">
            <form id="applyForm" name="applyForm">
                <div class="form-group">
                    <label for="applyName">组织名称</label>
                    <input type="text" class="form-control" id="applyName" name="applyName">
                </div>

                <div class="form-group">
                    <label for="superior">所属部门</label>
                    <input type="text" class="form-control" id="superior" name="superior">
                </div>
                <div class="form-group">
                    <input type="file" id="evidence" name="evidence">
                    <p class="help-block">请上传证明的图片,等待管理员审核</p>
                </div>
                <button type="submit" class="btn btn-primary" id="applyBtn">提交</button>
            </form>
        </div>
        <div id="msg"></div>
    </div>
</div>
<script src="../static/js/volunteer.js"></script>
</body>
</html>